*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

body{
    min-height: 100vh;
    background-color: black;
}

canvas{
    border: solid 1px white;
    background-color: green;
    position: absolute;
    top: 50px;
    left: 20px;
}